body {
    background: #dddddd;
    padding: 0px;
    margin: 0px;
}

* {
    color: #fff;
    font-family: sans-serif;
}



.container {
    display: block;
}

.heading {
    margin: 0px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./imgs/theatre.png');
    background-size: cover;
    background-position-y: -300px;
    height: 40vh;
}

.heading div {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.heading img {
    height: 200px;
    width: 200px;
    object-fit: contain;
    margin: 50px;
}

.heading h3 {
    color: #fff;
    font-size: 26px;
    margin: 10px 5px;
    -webkit-text-stroke-width: .75px;
    -webkit-text-stroke-color: #192a56;
}

.heading h1 {
    color: #fff;
    font-size: 4em;
    margin: 10px 0px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #192a56;
}

ul  {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 0px;
    list-style-type: none;
    height: 42vh;
}

li{
    margin: 25px;
    padding: 25px;
    background: #192a56;
}

ul a {
    text-decoration: none;
}
ul a:hover {
    background-color: gray;
}

/*Styles for the nav-menu in this section plz kthxbye*/
.nav-menu ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     position: relative;
 }

.nav-menu ul li a{
    display: inline-flex;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    text-decoration: none;
    background-color: #0c5460;
    color: white;
    font-weight: bold;
}

.nav_menu ul li:hover > ul {
    display: block;
}
